@import "variables";
@import "global-header";
@import "dialog";

.BasePageWrapper {
    padding: 2rem;
    min-height:100vh;
    background-color: var(--page-bg-color);

    &.BasePageWrapper-offset-for-header {
        padding-top: calc(5.5rem + 1px);
    }
}