@import "variables";
@import "global-header";
@import "dialog";

.BasePageWrapper {
    padding: 2rem;
    min-height:100vh;
    background-color: var(--page-bg-color);

    &.BasePageWrapper-offset-for-header {
        padding-top: calc(5.5rem + 1px);
    }
}

// custom BCCManager - tabs override
#BCCManager {
    .TabGroup {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        height:100%;

        .TabList { flex:0 0 auto; }
        .TabPanels { flex:1 1 auto; }
    }
}